{% extends "base.html" %}
{% block title %}Peritum - oops!{% endblock %}
{% block article_title %}Oops - an error occured!{% endblock %}
{% block article_description %}That didn't work - let's see whats wrong!{% endblock %}

{% block content %}
{% include "components/navbar.html" %}

<section class="hero is-warning is-fullheight center-container px-2">
  <div class="has-text-centered">
      <p class="title">
        We can't find what you were searching for!
      </p>
      <p class="subtitle">
        Unfortunately, we weren't able to find what you wanted to see - we're sorry about that.
      </p>
    <a onclick="window.history.back(1);" class="button is-dark is-rounded is-large mx-6">Back</a>
       
    <br><br><a href="/" class="has-text-dark"><strong>Back to homepage</strong></a>
</div>
</section>

{% endblock %}