<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/icon.png">
    <meta name="title" content="{% block article_title %}{% endblock %}">
    <meta name="description" content="{% block article_teaser %}{% endblock %}">
    <script src="/static/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body onload="closeClosedMsgs()">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="is-flash">
    {% for category, message in messages %}
<article class="message is-{{category}} mx-2">
  <div class="message-body">
    {{message}}
  </div>
</article>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    {% block content %}
    {% endblock %}

<footer class="footer">
  <div class="content">
      <strong class="subtitle">Peritum</strong>
    <div class="columns">
      <div class="column is-half">
        <strong>Community</strong><br>
       <a href="/">Homepage</a><br>
        <a href="/profile/{{username}}">Your Profile</a><br>
        <a href="/settings">Settings</a><br>
        <a href="/profile/{{username}}#articles">Your articles</a><br>
      </div>
      <div class="column is-half">
        <strong>Legal & support</strong><br><a href="https://policies.axome.repl.co/">Policy Center</a><br>
        <a href="https://policies.axome.repl.co/privacy.html">Privacy Policy</a><br>
        <a href="https://policies.axome.repl.co/terms.html">Terms of service</a><br>
        <a href="mailto:axomedev@gmail.com">Contact us</a><br><a href="http://axome.de/support.html">AXOME support</a><br><a href="https://www.axome.de/">AXOME homepage</a>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>