{% extends "base.html" %}
{% block title %}Comments on {{title}}{% endblock %}
{% block article_title %}Peritum - the expert for everything!{% endblock %}
{% block article_description %}Contribute at Peritum to help out other people with ease and fun!{% endblock %}

{% block content %}
{% include "components/navbar.html" %}

<section class="section my-6">
      <p class="title">
        {{title}}
      </p>
      <p class="subtitle">
        Comments • <a href="/article/{{article}}">Back to article</a>
{% if username == author %}
  • <a onclick="toggleModal('toggleComments')">Settings for comments</a>
  
<div class="modal" id="toggleComments">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <h1 class="title">
    {% if activated %}
      Deactivate comments? (Comments are currently activated)
    {% else %}
      Re-activate comments? (Comments are currently deactivated)
    {% endif %}
    </h1>
    <p>
      Are you sure you want to do this? When deactivating, all comments will be deleted and no one can add more of them, but when reactivating, everyone will be able to. <strong>If you receive hate, please report the problematic commenters to us!</strong>
    </p><hr>
    <a href="/article/{{article}}/comments/toggle?token={{token}}" class="button is-danger is-rounded is-fullwidth">{% if activated %}
      Deactivate comments
    {% else %}
      Re-activate comments
    {% endif %}
    </a><br>
    <button onclick="toggleModal('toggleComments')" class="button is-success is-light is-rounded is-fullwidth">Cancel</button>
  </div>
  <button class="modal-close is-large" aria-label="close" onclick="toggleModal('toggleComments')"></button>
</div>
{% endif %}
  </a>
      </p><hr>
{% if activated %}
<form action="/article/{{article}}/comments/post" method="POST">
  <input type="text" class="input is-borderless is-medium" name="text" placeholder="Type your comment, opinion or tips here..."><br><br>
  <input type="hidden" name="token" value="{{token}}">
  <div class="columns">
    <div class="column is-two-thirds"></div>
    <div class="column">
      <button type="submit" class="button is-rounded is-link is-fullwidth">Comment</button>
    </div>
  </div>
</form><br>

{% for i in comments %}

<div class="box is-fullwidth">
  <a href="/profile/{{i['author']}}"><strong>{{i["author"]}}</strong></a> • {{i["date"]}} • <a href="mailto:axomedev@gmail.com?subject=Peritum%20Report&body=Comment%20https%3A%2F%2Fperitum.axome.repl.co%2Farticle%2F{{article}}%2Fcomments%20by%20{{i['author']}}">Report</a><br>
  <p>
    {{i["text"]}}
  </p>
</div>

{% endfor %}
{% else %}


<h1 class="title">Comments are deactivated for this article</h1>
<h2 class="subtitle">Sorry, the comment function has been deactivted for this article.</h2> 

{% endif %}

</section>

{% endblock %}