{% extends "base.html" %}
{% block title %}Peritum{% endblock %}
{% block article_title %}Peritum - the expert for everything!{% endblock %}
{% block article_description %}Everyone is a genius at something! Collecting thousands experts like you creates the place where everyone shares knowledge, interests and ideas - which makes Peritum the first place to go when having questions!{% endblock %}

{% block content %}
{% include "components/navbar.html" %}

<section class="hero hero-auto-bg is-success is-halfheight center-container">
  <div class="has-text-centered has-black-textshadow">
      <p class="title">
        How can we help you today?
      </p>
      <p class="subtitle">
        Search Peritum to find the best solutions to your problems
      </p>
      <form action="/search" class="columns is-vcentered is-mobile mx-3">
        <input class="input is-rounded is-size-4 is-half has-white-shadow" name="query" placeholder="Type your question here...">
        <button class="is-rounded is-borderless backgroundless" type="submit">
          <span class="material-icons has-text-link is-size-2">
            search
          </span>
        </button>
      </form>
  </div>
</section>
<section class="section">
  <h1 class="title">Hottest articles 	&#128293;</h1>
  {% for i in hottest %}
<div class="notification is-light is-fullwidth is-title columns is-vcentered is-clickable" onclick="document.location.href = '/article/{{i['_id']}}'">
  
  <div class="column is-one-fifth">
    <div class="card is-thumb">
      <figure class="image is-16by9 card-image is-thumb">
        <img src="{{i['thumb']}}" class="is-thumb">
      </figure>
    </div>
  </div>
  <div class="column">        
    <strong class="subtitle">{{i["title"]}}  </strong>
</div
 
</div></div> {% endfor %}
</section>

<section class="section">
  <h1 class="title">Recommended articles 	&#128161;</h1>
  {% for i in random %}
<div class="notification is-light is-fullwidth is-title columns is-vcentered is-clickable" onclick="document.location.href = '/article/{{i['_id']}}'">
  
  <div class="column is-one-fifth">
    <div class="card is-thumb">
      <figure class="image is-16by9 card-image is-thumb">
        <img src="{{i['thumb']}}" class="is-thumb">
      </figure>
    </div>
  </div>
  <div class="column">        
    <strong class="subtitle">{{i["title"]}}  </strong>
</div
 
</div></div> {% endfor %}
</section>

<section class="section">
  <h1 class="title">Top authors &#128077;</h1>
  {% for i in lb %}
<div class="notification is-light is-fullwidth is-title columns is-vcentered is-mobile is-clickable" onclick="document.location.href = '/profile/{{i['name']}}'">
  
  <div class="column is-one-fifth">
      <figure class="image is-64x64">
        <img class="is-rounded" src="{{i['pic']}}">
      </figure>
  </div
  <div class="column">        
    <strong class="subtitle">{{i["name"]}} • {{i["reputation"]}} reputation</strong>
</div
 
</div></div> {% endfor %}
<article class="message is-link">
  <div class="message-body">
    <strong>Would you like to be listed here?</strong> All you got to do is write a good article and gain high reputation!<br>
    <div class="columns">
      <div class="column is-four-fifths"></div><div class="column">
    <a href="/write" class="button is-right is-rounded is-link is-fullwidth"><strong>Write</strong></a></div></div>
  </div>
</article>
</section>
{% endblock %}