{% extends "base.html" %}
{% block title %}{{d["title"]}} - Peritum{% endblock %}
{% block article_title %}{{d["title"]}}{% endblock %}
{% block article_description %}{{d["description"]}}{% endblock %}

{% block content %}
{% include "components/navbar.html" %}

<main style="display: none;">
  {{article}}
</main>

<section class="section columns my-3">
  <div class="column is-two-thirds">
      <p class="title">
        {{d["title"]}}
      </p>
      <p class="subtitle">
        {{d["description"]}}
      </p>

<div class="card">
<div class="card-image">
<figure class="image is-16by9">
<img src="{{d['image']}}">
</figure>
</div></div><br><br>
    
<div id="editor" class="content"></div>
     
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
var quill = new Quill('#editor', {
  theme: 'snow',
  "modules": {
      "toolbar": false
  },
  readOnly: true
});
try {
  function decodeHTMLentities(text) {
    var doc = new DOMParser().parseFromString(text, "text/html");
    return doc.documentElement.textContent;
  }
quill.setContents(JSON.parse(decodeHTMLentities("{{article}}")));
} catch(e) {}
</script>

  </div>
  <div class="column">
<article class="message is-info">
  <div class="message-header">
    <p>Article details</p>
  </div>
  <div class="message-body content">
    Published on {{d["date"]}}<br>
    ~ {{rt}} minutes reading time<br>
    <strong>{{d["likes"]}} people like that</strong><br><br>
    <div class="columns is-vcentered is-mobile" onclick="document.location.href = '/profile/{{author['name']}}'">
      <div class="column">
        <figure class="image">
          <img src="{{author['pic']}}" class="is-rounded is-small-pic">
        </figure>
      </div><div class="column content">
        <h4>{{author["name"]}}</h4>
        <h6 class="has-text-grey">{{article_number}} articles • {{author['reputation']}} reputation</h6>
      </div>
    </div>
    <a href="/article/{{d['_id']}}/like?token={{token}}" class="button is-info is-rounded is-fullwidth">&#10084; <strong> {{d["likes"]}}</strong></a>
  </div>
</article>
<article class="message is-success">
  <div class="message-header">
    <p>Share this article with...</p>
  </div>
  <div class="message-body columns">
  <a href="mailto:?to=&subject={{d['title']}}&body=https%3A%2F%2Fperitum.axome.repl.co/article/{{d['_id']}}" class="button is-rounded is-success is-fullwidth">Mail</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://peritum.axome.repl.co/article/{{d['_id']}}" class="button is-rounded is-success is-fullwidth">Facebook</a>
<a href="https://twitter.com/intent/tweet?url=https://peritum.axome.repl.co/article/{{d['_id']}}&text=" class="button is-rounded is-success is-fullwidth">Twitter</a>
    </div>
</article>

<article class="message">
  <div class="message-header">
    <p>Recommendations</p>
  </div>
  <div class="message-body">
{% if username %}
  {% for i in recommend %}
<a href="/article/{{i['_id']}}">
    {{i["title"]}}
</a><br><br>
 {% endfor %}
{% else %}
<h2 class="subtitle">
  Explore more
</h2>
<p>
  Explore more of this and grow your knowledge to a legendary level with fun!
</p>
    <a class="button is-dark is-rounded is-fullwidth" href="https://auth.axome.de/signin?url=https%3A%2F%2Fperitum.axome.repl.co%2Fsignin">
      <strong>Sign in</strong>
</a>
  {% endif %}
</div>
</article>  
    {% if username == "" %}
<article class="message is-link">
  <div class="message-header">
    <p>Sign in to Peritum</p>
  </div>
  <div class="message-body">
    Join Peritum for an even better experience and the ability to interact with the community - completely free!
    <br><a class="button is-link is-rounded is-fullwidth" href="https://auth.axome.de/signin?url=https%3A%2F%2Fperitum.axome.repl.co%2Fsignin">Get started</a>
  </div>
</article>
    {% endif %}
  </div>
</section>

{% endblock %}