<nav class="navbar is-fixed-top has-background-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/icon.png" width="28" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      

      <div class="navbar-item">
        <form action="/search" class="columns is-mobile mx-3">
          <input class="input is-rounded" name="query" placeholder="Search...">
          <button class="button is-rounded has-background-white is-borderless" type="submit">
            <span class="material-icons has-text-link">
              search
            </span>
          </button>
        </form>
      </div>

      <a class="navbar-item" href="/about">
        About
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://policies.axome.repl.co/">
              Policies
            </a>
            <a class="navbar-item" href="mailto:axomedev@gmail.com?subject=Support%20contact">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://forms.gle/s5h3FfoyTqKwPwEq5">
              Report an issue
            </a>
          </div>
        </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if username == "" %}
          <a class="button is-success is-light is-rounded" href="https://auth.axome.de/signin?url=https%3A%2F%2Fperitum.axome.de%2Fsignin">
            Sign in
          </a>
          {% else %}
      <div class="navbar-item">
        <a class="button is-primary is-rounded" href="/write">
          <strong>+</strong></a></div>
          <div class="navbar-item has-dropdown is-hoverable is-right">
        <a class="navbar-link">
          <strong>{{username}}</strong>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/profile/{{username}}">
            Profile
          </a>
          <a class="navbar-item" href="/profile/{{username}}#articles">
            Articles
          </a>
          <a class="navbar-item" href="/settings">
            Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item has-text-danger" href="/logout">
            Log out
          </a>
        </div>
        </div>
          {% endif %}
        </div>
      </div>
    </div>
  
</nav>